 @import url(../reindeer/styles.css);
/* Using the old default theme (runo) as the basis for now */

.v-tree-node-no-children
{
    background: none;
    
}

.keyValueTable .v-button {
      display: block;
      /* height: 35px; */
      background: transparent;
      border: none;
      text-align: center;
}
 
/* .keyValueTable .v-button img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
} */

.keyValueTable .v-button span {
      font-size: x-small;
      text-shadow: #fafafa 1px 1px 0;
} 

.keyValueTable .v-button .v-button-wrap, 
.keyValueTable .v-disabled.v-button .v-button-wrap {
   background: transparent;
   border: none;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

/* .keyValueTable .v-button:active .v-button-wrap,
.keyValueTable .v-button.v-pressed .v-button-wrap {
   background: transparent;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow:
} */

/* .v-table-focus-table-text-wrap .v-table-cell-wrapper-table-text-wrap {
	white-space: normal;
	overflow: hidden;
} */
